
main {
    background-color: #17a053;
    margin: 10px auto;
    padding: 20px;
}

body {
    background-color: #fff;
    font-family: Arial;
}

header {
    height: 200px;
}
.logo {
    background: url(imgs/spriteweb.png) no-repeat -10px -440px;
    height: 120px;
    margin: 0px auto;
    width: 180px;
}
header menu {
    margin: 20px auto;
    padding: 0;
    width: 920px;
}
header menu li {
    background-color: rgba(0,0,0,.4);
    border-bottom: 6px solid #fff;
    color: #fff;
    display: inline-block;
    list-style: none;
    padding: 20px;
    margin: 0px 10px;
    text-align: center;
    width: 120px;
}
header menu li:hover {
    background-color: rgba(0,0,0,.8);
    border-bottom: 6px solid #fad000;
    cursor: pointer;
}
.slider {
    background-color: rgba(0,0,0,.4);
    height: 220px;
    margin: 40px auto;
    padding: 10px;
    width: 880px;
}
.slider .slide {
    border: 2px solid #fff;
    background: url(imgs/spriteweb.png) no-repeat -500px -18px;
    display: inline-block;
    height: 190px;
    margin: 10px;
    vertical-align: top;
    width: 264px;
}
.slider .slide .info {
    background-color: rgba(255,255,255,.4);
    font-weight: bold;
    font-size: 1.2em;
    padding: 20px;
    text-align: center;
}
.slider div.slide:hover .info {
    background-color: rgba(255,255,255,.8);
    cursor: pointer;
}
.content {
    background-color: rgba(0,0,0,.4);
    height: 620px;
    margin: 40px auto;
    padding: 10px;
    width: 880px;
}
.content article:nth-child(1) {
    margin-top: 0px;
}
.content article {
    background-color: #fff;
    margin: 10px auto;
    height: 200px;
    position: relative;
}
.content article:hover p {
    color: #12713c;
    cursor: pointer;
}
.content article .icon-l {
    background: url(imgs/spriteweb.png) no-repeat -300px -500px;
    height: 80px;
    position: absolute;
    top: 56px;
    left: 50px;
    width: 80px;
}
.content article .icon-r {
    background: url(imgs/spriteweb.png) no-repeat -80px -210px;
    height: 160px;
    position: absolute;
    top: 16px;
    right: 50px;
    width: 110px;
}
.content article p {
    color: rgba(0,0,0,.6);
    height: 100px;
    position: absolute;
    top: 0px;
    left: 180px;
    line-height: 1.8em;
    text-align: justify;
    width: 510px;
}
footer {
    background-color: #fff;
    height: 220px;
    margin: 10px auto 0px auto;
    padding: 10px;
    position: relative;
    width: 880px;
}
footer .products {
    background: url(imgs/spriteweb.png) no-repeat -500px -420px;
    height: 180px;
    margin: -10px auto;
    width: 260px;
}
footer menu {
    margin: 20px auto;
    padding: 0;
    position: absolute;
    bottom: -10px;
    width: 920px;
}
footer menu li {
    border-bottom: 6px solid #fff;
    color: rgba(0,0,0,.6);
    display: inline-block;
    list-style: none;
    padding: 10px;
    margin: 0px 10px;
    text-align: center;
    width: 120px;
}
footer menu li:hover {
    border-bottom: 6px solid #12713c;
    cursor: pointer;
}